* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.renderer {
  width: calc(100% - 2rem);
  height: 40vh;
  grid-column-start: 1;
  grid-column-end: 6;
  border-radius: 0.5rem;
}

.renderer canvas {
  border-radius: 0.5rem;
}

intention-error-message {
  grid-column-start: 1;
  grid-column-end: 6;
}

.led-container {
  height: 45px;
}

.panel {
  padding: 1rem;
}

intention-euler intention-float-value {
  margin-bottom: 0.25rem;
}

intention-euler intention-float-value input {
  max-width: 100px;
}

intention-dashboard-page intention-grid-panel > intention-flex-panel {
  width: auto !important;
}

.quat > intention-flex-panel {
  width: 50%;
}

intention-led .title {
  white-space: nowrap;
}

.accuracy input,
.distance input {
  width: 100px;
}
